.icon-aqua:before{
	content: '' !important;
    display: block;
    width: 80px;
    height: 80px;
	margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90px 90px;
}
.icon-atom:before{
	background-image: url(../img/icons/atom.svg);
}
.icon-bang:before{
	background-image: url(../img/icons/bang.svg);
}
.icon-book:before{
	background-image: url(../img/icons/book.svg);
}
.icon-brains:before{
	background-image: url(../img/icons/brains.svg);
}
.icon-bunsen:before{
	background-image: url(../img/icons/bunsen.svg);
}
.icon-danger:before{
	background-image: url(../img/icons/danger.svg);
}
.icon-desktop-molecule:before{
	background-image: url(../img/icons/desktop-molecule.svg);
}
.icon-dna-string:before{
	background-image: url(../img/icons/dna-string.svg);
}
.icon-drop:before{
	background-image: url(../img/icons/drop.svg);
}
.icon-droplet:before{
	background-image: url(../img/icons/droplet.svg);
}
.icon-engineer:before{
	background-image: url(../img/icons/engineer.svg);
}
.icon-flammable-fluid:before{
	background-image: url(../img/icons/flammable-fluid.svg);
}
.icon-flask-2:before{
	background-image: url(../img/icons/flask-2.svg);
}
.icon-flask:before{
	background-image: url(../img/icons/flask.svg);
}
.icon-flasks:before{
	background-image: url(../img/icons/flasks.svg);
}
.icon-gas-molecule:before{
	background-image: url(../img/icons/gas-molecule.svg);
}
.icon-gas:before{
	background-image: url(../img/icons/gas.svg);
}
.icon-handouts:before{
	background-image: url(../img/icons/handouts.svg);
}
.icon-hands:before{
	background-image: url(../img/icons/hands.svg);
}
.icon-hcch:before{
	background-image: url(../img/icons/hcch.svg);
}
.icon-hourglass:before{
	background-image: url(../img/icons/hourglass.svg);
}
.icon-magnifying-glass:before{
	background-image: url(../img/icons/magnifying-glass.svg);
}
.icon-measuring-cup-test-tube:before{
	background-image: url(../img/icons/measuring-cup-test-tube.svg);
}
.icon-microscope:before{
	background-image: url(../img/icons/microscope.svg);
}
.icon-molecule:before{
	background-image: url(../img/icons/molecule.svg);
}
.icon-multiple-droplets:before{
	background-image: url(../img/icons/multiple-droplets.svg);
}
.icon-nano:before{
	background-image: url(../img/icons/nano.svg);
}
.icon-owl:before{
	background-image: url(../img/icons/owl.svg);
}
.icon-person-presentation:before{
	background-image: url(../img/icons/person-presentation.svg);
}
.icon-person:before{
	background-image: url(../img/icons/person.svg);
}
.icon-presentation:before{
	background-image: url(../img/icons/presentation.svg);
}
.icon-round-bottom-flask-bottle:before{
	background-image: url(../img/icons/round-bottom-flask-bottle.svg);
}
.icon-round-bottom-flask:before{
	background-image: url(../img/icons/round-bottom-flask.svg);
}
.icon-scales:before{
	background-image: url(../img/icons/scales.svg);
}
.icon-syringes:before{
	background-image: url(../img/icons/syringes.svg);
}
.icon-temperature:before{
	background-image: url(../img/icons/temperature.svg);
}
.icon-test-tube-result:before{
	background-image: url(../img/icons/test-tube-result.svg);
}
.icon-test-tube:before{
	background-image: url(../img/icons/test-tube.svg);
}
.icon-test-tubes:before{
	background-image: url(../img/icons/test-tubes.svg);
}
.icon-water-level:before{
	background-image: url(../img/icons/water-level.svg);
}
.icon-water-test:before{
	background-image: url(../img/icons/water-test.svg);
}
.icon-wmd-symbol:before{
	background-image: url(../img/icons/wmd-symbol.svg);
}

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;	
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
  color: #4d4d4d;
  background-color: #ffffff;
}
@media only screen and (max-width: 1169px) {
  body.nav-on-left.overflow-hidden {
    overflow: hidden;
  }
}

a {
  color: #b1ca23;
  text-decoration: none;
}
p + p{
	padding-top: 15px;
}

img {
  /* make images responsive */
  max-width: 100%;
}
hr {
	border: none;
    border-bottom: 2px solid #b1ca23;
    width: 75px;
    display: block;
	margin: 15px auto;
}
.center{
	text-align: center;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  padding-bottom: 30px;
  color: #004559;
}
h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 15px;
	color: #635b5d;
}
h3 {
	font-weight: 400;
	font-size: 1.75rem;
	padding: 15px 0 10px 0;
}
h1.title{
	padding-bottom: 0;
	padding-top: 30px;
}
h1.title + hr{
	margin-bottom: 60px;
}
@media(max-width: 800px){
	h1.title{
		padding-bottom: 0;
	}
	h1.title + hr{
		margin-bottom: 15px;
	}
}
/* --------------------------------

TABLES

-------------------------------- */

table{
    border-bottom: 2px solid #bbbdbf;
    margin-bottom: 30px;
	width: 100%;
}
table thead tr td {
    max-width: 100%;
    white-space: nowrap;
}
table th{
    color: #bbbdbf;
    border-bottom: 2px solid #004559;
    padding: 8px 5px;
    height: 2em;
    line-height: 2em;
    text-align: left;
    font-weight: 700;
    color: #004559;
	vertical-align: middle;
}
table tr{
    height: 2em;
    line-height: 2em;
    border-bottom: 1px solid #e6e6e6;
}
table tr:nth-child(even){
    background-color: #e6e6e6;
}
table td{
    padding: 8px 5px;
    font-size: 1.4rem;
}
table tfoot {
    font-weight: 600;
}
@media (max-width: 1024px){
    table{
        overflow: scroll;
        width: 100%;

    }
	table th{
		vertical-align: top;
	}
    table td{
        min-width: 100px;
    }
}
@media (max-width: 800px){
	table{
		font-size: 80%;
	}
}
@media (max-width: 600px){
	table{
		font-size: 70%;
	}
}
/* --------------------------------

SWIPER

-------------------------------- */
.swiper-container {
	width: 100%;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-position: center;
	background-size: cover;
}
.swiper-container-header .swiper-slide-content{
	background-color: rgba(0, 69, 89, .7);
	width: 50%;
	height: calc(100% - 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding: 0 60px;
}
.swiper-container-header .swiper-slide-content h1{
	color: #fff;
	padding-bottom: 10px;
}
.swiper-container-header .swiper-slide-content hr{
	border-bottom: 1px solid #b1ca23;
	width: 30%;
}
@media (max-width: 1440px){
	.swiper-container-header .swiper-container {
		height: 400px
	}
	.swiper-container-header .swiper-slide-content{
		width: 65%;
		height: calc(100% - 100px);
	}
}
@media (max-width: 800px){
	.swiper-container-header .swiper-container {
		height: 300px
	}
	.swiper-container-header .swiper-slide-content{
		width: 75%;
		height: calc(100% - 100px);
		padding: 0 30px;
	}
}
@media (max-width: 600px){
	.swiper-container-header .swiper-slide-content{
		width: 100%;
		height: 100%;
		padding: 15px 30px;
	}
}
.swiper-button-next,
.swiper-button-prev{
	background-size: 18px 22px !important;
}
@media (min-width: 650px){
	.swiper-button-next{
		right: 40px!important;
	}
	.swiper-button-prev{
		left: 40px!important;
	}
}
@media (max-width: 649px){
	.swiper-container-header .swiper-button-next,
	.swiper-container-header .swiper-button-prev{
		display: none;
	}
}
.swiper-container-testimonials .swiper-pagination.swiper-pagination-bullets {
    background-color: #004559;
    bottom: 0;
    padding-top: 15px;
}
.swiper-container-testimonials .quote{
    display: block;
    overflow: hidden;
    padding-top: 30px;
}
.swiper-container-testimonials .quote:before{
	content: "\201c";
    color: #b1ca23;
    font-size: 120px;
    vertical-align: -86px;
    line-height: 0;
    height: 30px;
}
.swiper-container-testimonials h1{
	padding-bottom: 0
}
.swiper-container-testimonials .content-customer{
	width: 75%;
	margin: 0 auto;
}
@media (max-width: 700px){
	.swiper-container-testimonials .quote{
		padding-top: 0;
	}
	.swiper-container-testimonials .quote:before {
		content: "\201c";
		color: #b1ca23;
		font-size: 90px;
		vertical-align: -56px;
		line-height: 0;
		height: 30px;
	}
}
@media (max-width: 800px){
	.swiper-container-testimonials .content-customer{
		width: 95%;
	}
}
/* --------------------------------

Main components

-------------------------------- */
.cd-main-content, .cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.cd-main-content, .cd-main-header {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
@media only screen and (max-width: 1169px) {
  .nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
}

.cd-main-content {
  /* background: #e2e3df; */
  min-height: calc(100vh - 270px - 80px);
  z-index: 2;
  /* padding-top: 5rem; */
}

.cd-main-header {
  height: 50px;
  background: #ffffff;
  z-index: 3;
  border-bottom: 3px solid #b1ca23;
}
.cd-logo{
    padding-left: 25px;
}
.cd-logo img{
  height: 46px;
  width: auto;

}
.nav-is-fixed .cd-main-header {
  /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 1170px) {
  .cd-main-header {
    height: 80px;
  }
  .cd-logo img{
    height: 76px;
    width: auto;
  }
  .cd-main-header::after {
    clear: both;
    content: "";
    display: table;
  }
}

.cd-logo {
  display: inline-block;
}
.cd-nav {
  display: inline-block;
  float: right;
  width: 65%;
}
.cd-logo img {
  display: block;
}
@media only screen and (max-width: 1169px) {
  .nav-on-left .cd-logo {
    left: auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-logo {
      padding-left: 75px;
  }
}

/* --------------------------------

HEADER NAV

-------------------------------- */
.cd-nav-trigger {
	display: block;
    width: 50px;
    height: 50px;
    white-space: nowrap;
    color: transparent;
    z-index: 3;
    right: 25px;
    top: 0px;
    position: absolute;
    overflow: hidden;
}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 24px;
  background: #2e3233;
}
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  transition: transform 0.2s ease;
}
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(46, 50, 51, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #2e3233;
}
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    display: none;
  }
}
@media only screen and (max-width: 1169px) {
    .cd-primary-nav{
        min-height: 100vh;
    }
}
.cd-primary-nav li {
    border-bottom: 1px solid #e6e6e6;
    transition: background .3s ease;
}
.cd-primary-nav li:hover {
    background-color: #e6e6e6;
}
.cd-primary-nav a {
    color: #444;
    display: block;
    padding: 15px;
}
.cd-primary-nav .current-menu-item a{
    background-color: #004559;
	color: #fff;
	font-weight: 400;
}

.cd-primary-nav, .cd-primary-nav ul {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.cd-primary-nav{
    top: 50px;
}
.cd-primary-nav > a, .cd-primary-nav > ul a,
.cd-primary-nav .cd-nav-icons .cd-nav-item {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.cd-primary-nav.is-hidden, .cd-primary-nav ul.is-hidden {
  /* secondary navigations hidden by default */
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-primary-nav.moves-out > li > a, .cd-primary-nav ul.moves-out > li > a {
  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

@media only screen and (max-width: 1169px) {
  .nav-on-left .cd-primary-nav, .nav-on-left .cd-primary-nav ul {
    right: auto;
    left: 0;
  }
}
.cd-primary-nav .see-all{
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    background-color: #bbbdbf;
}
.cd-primary-nav .see-all:hover a{
    color: #004559;
}
.cd-primary-nav .see-all a {
  /* different style for the See all button on mobile and tablet */
  color: #fff;
}
.cd-primary-nav .cd-nav-icons .container-menu li{
    padding: 15px 0;
    width: 100%;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item {
  color: #2e3233;
}
 .cd-primary-nav .cd-nav-icons .cd-nav-item h3,
.cd-service-icons h3{
     line-height: 20px;
     padding: 5px 0;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item {
  padding-left: 75px;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item p,
.cd-service-icons .item p{
  color: #2e3233;
  font-size: 1.3rem;
  line-height: 20px;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item::before{
  /* item icon */
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
}
.cd-service-icons .item a:before{
	content: '';
    display: block;
    width: 40px;
    height: 40px;
	margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
	float: left;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-1::before,
.cd-service-icons .item .item-1::before{
  background-image: url("../img/line-icon-1.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-2::before,
.cd-service-icons .item .item-2::before{
  background-image: url("../img/line-icon-2.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-3::before,
.cd-service-icons .item .item-3::before{
  background-image: url("../img/line-icon-3.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-4::before,
.cd-service-icons .item .item-4::before{
  background-image: url("../img/line-icon-4.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-5::before,
.cd-service-icons .item .item-5::before{
  background-image: url("../img/line-icon-5.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-6::before,
.cd-service-icons .item .item-6::before{
  background-image: url("../img/line-icon-6.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-7::before,
.cd-service-icons .item .item-7::before{
  background-image: url("../img/line-icon-7.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-8::before,
.cd-service-icons .item .item-8::before{
  background-image: url("../img/line-icon-8.svg");
}
@media only screen and (max-width: 1169px) {
  .cd-primary-nav {
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    -moz-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
  }
  .cd-primary-nav.nav-is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
  }
  .cd-primary-nav.is-fixed {
        overflow: hidden;
    }
}

@media only screen and (min-width: 1170px) {
  .cd-primary-nav {
    position: static;
    height: auto;
    width: auto;
    float: right;
    overflow: visible;
    background: transparent;
    padding-right: 75px;
  }
  .cd-primary-nav::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-primary-nav.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-primary-nav ul {
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    overflow: visible;
    z-index: 3;
  }
  .cd-primary-nav ul.is-hidden {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-primary-nav ul.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-primary-nav > li {
    float: left;
    border-bottom: none;
	margin: 0 20px;
  }
  .cd-primary-nav li:hover{
      background-color: transparent;
  }
  .cd-primary-nav > li > a {
    /* main navigation buttons style */
    position: relative;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    color: #004559;
    font-weight: 400;
    font-size: 16px;
    overflow: visible;
    border-bottom: none;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    -moz-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
  }
  .cd-primary-nav > li > a:hover,
  .cd-primary-nav > li.current-menu-item > a {
      color: #b1ca23;
      box-shadow: inset 0 3px 0 #b1ca23;
	  background-color: transparent;
  }
  .cd-primary-nav > li > a.selected {
    color: #004559;
    box-shadow: inset 0 -2px 0 #004559;
  }
  .cd-primary-nav .go-back, .cd-primary-nav .see-all {
    display: none;
  }
  .cd-primary-nav .see-all{
      background-color: #fff;
  }
  .cd-primary-nav .see-all a{
      color: #b1ca23;
  }
  .cd-primary-nav .cd-secondary-nav, .cd-primary-nav .cd-nav-gallery, .cd-primary-nav .cd-nav-icons {
    /* dropdown menu style */
    position: absolute;
    top: 80px;
    width: 100vw;
    background: #ffffff;
    padding: 48px 64px 130px;
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-primary-nav .cd-secondary-nav::after, .cd-primary-nav .cd-nav-gallery::after, .cd-primary-nav .cd-nav-icons::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-primary-nav .cd-secondary-nav.is-hidden, .cd-primary-nav .cd-nav-gallery.is-hidden, .cd-primary-nav .cd-nav-icons.is-hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-primary-nav .cd-secondary-nav > .see-all, .cd-primary-nav .cd-nav-gallery > .see-all, .cd-primary-nav .cd-nav-icons > .see-all {
    /* this is the BIG See all button at the bottom of the dropdown menu */
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    /* reset some inherited style */
    margin: 0;
    padding: 0;
  }
  .cd-primary-nav .cd-secondary-nav > .see-all a, .cd-primary-nav .cd-nav-gallery > .see-all a, .cd-primary-nav .cd-nav-icons > .see-all a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    line-height: 80px;
    border-top: 1px solid #e2e3df;
    /* reset some inherited style */
    border-bottom: none;
    margin: 0;
    padding: 0;
    -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background 0.2s, border 0.2s;
    transition: color 0.2s, background 0.2s, border 0.2s;
  }
  .cd-primary-nav .cd-secondary-nav > .see-all a:hover, .cd-primary-nav .cd-nav-gallery > .see-all a:hover, .cd-primary-nav .cd-nav-icons > .see-all a:hover {
      background: #bbbdbf;
      border-color: #bbbdbf;
      color: #ffffff;
  }
  .cd-primary-nav .cd-secondary-nav > li {
    /* change the height according to your needs - you can even set height: auto */
    height: 340px;
    /* here you set the number of columns - use width percentage */
    width: 23%;
    float: left;
    margin-right: 2.66%;
    border-right: 1px solid #e2e3df;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+2) {
    /* +2 because we have 2 list items with display:none */
    margin-right: 0;
    border-right: none;
  }
  .cd-primary-nav .cd-secondary-nav > li > a {
    /* secondary nav title */
    color: #004559;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: .6em;
  }
  .cd-primary-nav .cd-secondary-nav a {
    height: 30px;
    line-height: 30px;
    padding: 0 18% 0 0;
    color: #2e3233;
    border-bottom: none;
    font-size: 1.4rem;
  }
  .cd-primary-nav .cd-secondary-nav a:hover {
    color: #004559;
  }
  .cd-primary-nav .cd-secondary-nav ul {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .cd-primary-nav .cd-secondary-nav ul ul {
    /* tertiary navigation */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .cd-primary-nav .cd-secondary-nav ul ul.is-hidden {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .cd-primary-nav .cd-secondary-nav ul ul .go-back {
    display: block;
  }
  .cd-primary-nav .cd-secondary-nav ul ul .go-back a {
    color: transparent;
  }
  .cd-primary-nav .cd-secondary-nav ul ul .see-all {
    display: block;
  }
  .cd-primary-nav .cd-secondary-nav .moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .container-menu{
      max-width: 1440px;
      margin: auto;
  }

}
.has-children > a, .go-back a {
  position: relative;
}
.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #444;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.has-children.current-menu-item > a::before, .has-children.current-menu-item > a::after{
    background: #004559;
}
.go-back a::before, .go-back a::after {
    background: #fff;
}
.go-back a{
    color: #fff;
}
.go-back {
    background: #004559;
    border-bottom: 0 !important;
}
.cd-primary-nav li.go-back:hover,
.go-back:hover{
    background: #b1ca23;
}
.has-children > a::before, .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.has-children > a::after, .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1170px) {
  .has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
    background: #c9cbc4;
  }
  .has-children > a:hover::before, .has-children > a:hover::after, .go-back a:hover::before, .go-back a:hover::after {
    background: #004559;
  }
}

.has-children > a {
  padding-right: 40px;
}
.has-children > a::before, .has-children > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

.cd-primary-nav .go-back a {
  padding-left: 40px;
}
.cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -o-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}

@media only screen and (min-width: 1170px) {
  .has-children > a::before, .has-children > a::after {
    right: 15%;
  }

  .cd-primary-nav > .has-children > a {
    /* main navigation arrows on larger devices */
    padding-right: 30px !important;
  }
  .cd-primary-nav > .has-children > a::before, .cd-primary-nav > .has-children > a::after {
    width: 9px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #c9cbc4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
  }
  .cd-primary-nav > .has-children > a::before {
    right: 12px;
  }
  .cd-primary-nav > .has-children > a::after {
    right: 7px;
  }
  .cd-primary-nav > .has-children > a.selected::before, .cd-primary-nav > .has-children > a.selected::after {
    width: 14px;
  }
  .cd-primary-nav > .has-children > a.selected::before {
    -webkit-transform: translateX(5px) rotate(-45deg);
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -o-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
  }
  .cd-primary-nav > .has-children > a.selected::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .cd-secondary-nav > .has-children > a::before, .cd-secondary-nav > .has-children > a::after {
    /* remove arrows on secondary nav titles */
    display: none;
  }

  .cd-primary-nav .go-back a {
    padding-left: 20px;
  }
  .cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after {
    left: 1px;
  }
}

.cd-overlay {
  /* shadow layer visible when navigation is active */
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(235, 235, 235, 0.75);
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}
.cd-overlay.dark{
	background-color: rgba(0, 69, 89, 0.75);
}
.cd-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}
@media only screen and (max-width: 1169px) {

  .nav-on-left .cd-overlay.is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
  .cd-overlay.is-visible.search-is-visible, .nav-on-left .cd-overlay.is-visible.search-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* --------------------------------

Lay-out

-------------------------------- */
.cd-container{
  /* overflow: hidden; */
  max-width: 1150px;
  margin: 0 auto;
  padding: 30px 75px;
}
footer .cd-container{
    padding: 60px 0 30px;
}

.cd-wrapper-grey{
    background-color: #eeeeee;
}
.cd-wrapper-grey h1{
	color: #b1ca23;
}
.cd-wrapper-green{
	background-color: #b1ca23;
	color: #fff;
}
.cd-wrapper-green h1{
	color: #fff;
}
.cd-wrapper-blue{
	background-color: #004559;
}
@media(min-width: 1550px){
  .cd-container{
    max-width: 1500px;
    padding: 60px 0;
  }
}
@media (max-width: 1169px) {
    .cd-container{
        padding: 30px 20px;
    }
}
@media(max-width: 800px){
    .cd-container{
        padding: 30px 15px;
    }
}
@media(max-width: 500px){
    .cd-container{
        padding: 20px 5px;
    }
}
.cd-background-header {
	width: 100%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-size: cover;
	background-color: #ccc;
}
@media (max-width: 1441px) {
    .cd-background-header {
		height: 300px;
	}
}
@media (max-width: 1169px) {
    .cd-background-header {
		height: 220px;
	}
}
@media(max-width: 800px){
    .cd-background-header {
		height: 160px;
	}
}
@media(max-width: 500px){
    .cd-background-header {
		height: 125px;
	}
}
/* --------------------------------

FORMS

-------------------------------- */
.button,
button,
input[type="submit"],
.pushbutton-wide{
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #b1ca23;
    transition: .3s ease;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    padding: 12px 3rem;
    margin-top: 15px;
	font-size: 14px;
    outline: 0;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    transition: all .3s ease;
	letter-spacing: .5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.button + .button,
button + button{
	margin-left: 30px;
}
@media (max-width: 800px){
	.button + .button,
	button + button{
		margin-left: 15px;
	}
}
.button:hover,
button:hover,
input[type="submit"]:hover,
.pushbutton-wide:hover{
    background-color: #004559;
}
.button.button-reverse,
button.button-reverse{
	background-color: #004559;
}
.button.button-reverse:hover,
button.button-reverse:hover{
	background-color: #b1ca23;
}
.cd-wrapper-green .button.button-reverse:hover,
.cd-wrapper-green button.button-reverse:hover{
	background-color: #fff;
	color: #004559;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea, textarea{
	padding: 10px 15px;
    background: none;
    display: block;
    width: 100%;
	min-width: 100%;
	max-width: 100%;
    border: 2px solid #dcdcdc;
    box-sizing: border-box;
    color: #4d4d4d;
    font-size: 14px;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea{
	max-height: 150px;
}
.contact-form label{
	color: #aaa;
	margin-bottom: 3px;
    float: none;
    font-weight: 400;
	text-transform: uppercase;
    display: block;
}
.contact-form label span{
	font-size: 1.15rem;
    color: #ccc;
    margin-left: 4px;
    font-weight: 100;
	text-transform: none;
}
.contact-form input[type=email], .contact-form input[type=text] {
    margin-bottom: 13px;
}
/* Check-boxes */
/* Remove default checkbox */
input[type="checkbox"]{
  display: none;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.grunion-field-label.checkbox {
    padding: 15px 0;
    display: block;
	color: inherit;
    text-transform: none;
}

label [type="checkbox"] + .box{
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 1rem;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after,
[type="checkbox"] + .box:before,
[type="checkbox"]:not(.filled-in) + .box:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #004559;
  border-radius: 1px;
  margin-top: 2px;
  transition: .2s;
}

[type="checkbox"]:not(.filled-in) + label:after,
[type="checkbox"]:not(.filled-in) + .box:after{
  border: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}



[type="checkbox"]:checked + label:before,
[type="checkbox"]:checked + .box:before{
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #b1ca23;
  border-bottom: 2px solid #b1ca23;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

[type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}

/* --------------------------------

WE CAN HELP

-------------------------------- */
.cd-we-can-help{
	display: flex;
	padding-top: 5px;
	padding-bottom: 15px;
}
.cd-we-can-help h1{
	width: 35%;
	display: block;
    float: left;
	margin-top: 10px;
	padding-bottom: 0;
} 
.cd-we-can-help h1 span{
	font-weight: 300;
    font-size: 2.25rem;
}
.cd-we-can-help form{
	width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
}
.cd-we-can-help form input{
	width: 65%;
    min-width: 65%;
    max-width: 65%;
    float: left;
	margin-top: 15px;
	margin-right: 15px;
	border-radius: 50px;
	padding: 12px 3rem;
	background-color: #F7F7F7;
	border: 1px solid #b3b3b3;
}
@media (max-width: 1169px) {
	.cd-we-can-help{
		display: block;
	}
	.cd-we-can-help h1,
	.cd-we-can-help form{
    	width: 100%;
	}
	.cd-we-can-help form input{
		width: calc(75% - 15px);
		min-width: calc(75% - 15px);
		max-width: calc(75% - 15px);
	}
	.cd-we-can-help form button{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}
}
@media (max-width: 800px) {
	.cd-we-can-help form input{
		width: calc(65% - 15px);
		min-width: calc(65% - 15px);
		max-width: calc(65% - 15px);
	}
	.cd-we-can-help form button{
		width: 35%;
		min-width: 35%;
		max-width: 35%;
	}
}
@media (max-width: 600px) {
	.cd-we-can-help h1{
		text-align: center;
	}
	.cd-we-can-help form input{
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin-right: 0
	}
	.cd-we-can-help form button{
		width: 50%;
		min-width: 50%;
		max-width: 50%;
	}
}
/* --------------------------------

BASIC STYLING CONTENT

-------------------------------- */
.basic-content{
	padding: 120px 15px 0;
}
@media(max-width: 800px){
	.basic-content{
		padding: 60px 15px 15px;
	}
}
.basic-content.content-contact{
	display: block;
	float: left;
	width: calc(60% - 15px);
}
.basic-content.content-contact-form{
	display: inline-block;
	width: calc(40% - 15px);
}
@media(max-width: 800px){
	.basic-content.content-contact,
	.basic-content.content-contact-form{
		display: block;
		width: 100%;
	}
	.basic-content + .basic-content{
		padding-top: 0;
	}
}
.intro {
    padding: 15px 15px 0;
    text-align: center;
}
@media (max-width: 800px){
    .intro{
    	padding: 15px 15px 0;
    }
}

/* ----    FLEXBOX CSS    ---- */
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
@media (max-width: 1169px) {
    .items-services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}
/* -- SERVICES -- */
.items-services .item{
	width: 33.333333%;
	padding: 15px;
}
.items-services .item-background{
	display: block;
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 30px 15px;
}
.items-services .item h2{
	text-align: center;
	color: #004559;
	font-weight: 500;
	padding-bottom: 0;
	font-size: 2.5rem;
}
.items-services .item hr{
	border: none;
    border-bottom: 1px solid #b1ca23;
    width: 75px;
    display: block;
	margin: 15px auto;
}
.items-services .item ul{
	margin: 0 auto;
	padding: 15px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 68%;
	margin-left: 32%;
	list-style: none;
}
.cd-basic-content ul, 
.pop-up-info ul{
	list-style: none;
	padding: 0;
}
.items-services .item ul li:before,
.cd-basic-content ul li:before,
.pop-up-info ul li:before{
	font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\e080";
	display: inline-block;
	margin-left: -1.8em; /* same as padding-left set on li */
	width: 1.8em;
	color: #b1ca23;
}
.pop-up-info ul li:before{
	color: #fff;
	-webkit-font-smoothing: unset;
    -moz-osx-font-smoothing: unset;
	font-size: 16px;
}
.items-services .item ul li,
.cd-basic-content ul li,
.pop-up-info ul li{
	padding-left: 1.8em;
	line-height: 2;
}
.pop-up-info ul li{font-size: 1.75rem;font-weight: 400;}
@media (min-width: 1550px){
	.items-services .item {
		padding: 15px 30px;
	}
	.items-services .item ul{
	}
}
@media only screen and (max-width: 1169px) {
	.items-services .item{
		width: 50%;
		padding: 15px;
	}
}
@media (max-width: 800px){
	.items-services .item{
		width: 100%;
		padding: 15px;
	}
	.items-services .item ul{
	}
}
/* -- SERVICES + PRODUCTS GRID -- */
.items-products .item{
	width: 33.333333%;
	padding: 30px 15px 40px;
}
.items-products .item h2{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #b1ca23;
	font-weight: 400;
}
.items-products .item iframe{
	width: 100%;
	height: 300px;
}
.items-products .item .item-background{
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}
.items-products .item .link-read-more{
    margin-top: 10px;
    font-weight: 400;
    display: block;
    float: right;
    font-size: 14px;
    cursor: pointer;
    background-color: #004559;
    color: #fff;
    border-radius: 50px;
    padding: 5px 15px;
	transition: .3s ease;
}
.items-products .item .link-read-more i {
    font-size: 1rem;
    padding-left: 10px;
}
.items-products .item .link-read-more:hover{
	background-color: #eeeeee;
	color: #004559;
	font-weight: 400;
}
.items-products .item .price {
    color: #004559;
    font-size: 1.85rem;
    font-weight: 500;
    /* padding-top: 5px; */
    display: inline-block;
    margin-top: 10px;
}
.items-products .item .item-background-link{display: block;transition: .3s ease;}
.items-products .item .item-background-link:hover{opacity: .5;}
/* -- CASES -- */
.items-cases .item h2{
	padding-bottom: 0;
}
.items-cases .item .item-background-link{
	margin: 10px 0;
	border: 1px solid #efefef;
}
@media(min-width: 1550px){
	.items-products .item,
	.items-cases .item{
		padding: 30px 30px 40px;
	}
}
@media only screen and (max-width: 1169px) {
    .items-products .item,
	.items-cases .item{
        width: 50%;
	}
}
@media only screen and (max-width: 800px) {
    .items-products .item,
	.items-cases .item{
        width: 100%;
	}
}
.pop-up{
	margin: 0 auto;
	display: block;
	z-index: 3;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	border-radius: 12px;
	width: 90%;
	max-width: 1500px;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}
.pop-up.open{
	opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}
.pop-up .cd-close-popup {
  /* 'X' close icon */
	cursor: pointer;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background: url(../img/cd-icon-close.svg) no-repeat center center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.pop-up.open .cd-close-popup {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.8s;
  -moz-transition: -moz-transform 0.3s 0.8s;
  transition: transform 0.3s 0.8s;
} 

.pop-up .cd-close-popup {
	/* move close icon outside the form container */
	top: -40px;
	right: -5px;
}

.pop-up-info{
	width: 30%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: inline-block;
	float: left;
    position: absolute;
	height: 100%;
}
.pop-up-info .included{
    background-color: #b1ca23;
    padding: 30px 40px;
    border-top-left-radius: 12px;
    height: 70%;
    display: inline-block;
    position: absolute;
	float: left;
    width: 100%;
}
.pop-up-info .contact-help{
	background-color: #eeeeee;
    padding: 30px 40px;
    border-bottom-left-radius: 12px;
    height: 30%;
    display: inline-block;
	float: left;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 2px solid #004559;
}
.pop-up-form {
    width: 70%;
    padding: 30px 60px;
	border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
	display: inline-block;
	float: right;
}
.pop-up-form form > div {
    margin: 5px 0;
    display: inline-block;
    width: 100%;
}
.pop-up-form form > div:nth-child(-n+4){
	width: 50%;
	float: left;
}
.pop-up-form form > div:nth-child(-n+4):nth-child(odd){
	margin-right: 30px;
    width: calc(50% - 30px);
}
.pop-up-form .grunion-field-label.textarea {
    display: inline-block;
    margin-top: 5px;
}
@media(max-width: 1024px){
	.pop-up-form form > div:nth-child(-n+4):nth-child(odd),
	.pop-up-form form > div:nth-child(-n+4){
		margin-right: 0;
		width: 100%;
	}
}
@media(max-width: 800px){
	.pop-up-form{
		width: 100%;
		padding: 30px;
	}
	.pop-up-info{
		display: none;
	}
}
@media(max-width: 600px){
	.pop-up-form{
		width: 100%;
		padding: 15px 20px;
	}
	.pop-up-form form > div:nth-child(-n+4):nth-child(odd),
	.pop-up-form form > div:nth-child(-n+4){
		margin: 0;
	}
	.contact-form label{
		font-size: 1.2rem;
	}
	.pop-up{
		position: fixed;
		top: 0;
		transform: translate(0,0);
		left: 0;
		width: 100%;
		border-radius: 0;
		height: 100vh;
		overflow: scroll;
	}
	.pop-up .cd-close-popup{
		background-color: #004559;
		top: 5px;
		right: 5px;
		border-radius: 50px;
		width: 30px;
		height: 30px;
		background-size: 25px 25px;
	}
}

/* --------------------------------

Pagination

-------------------------------- */
.screen-reader-text {
    display: none;
}
 nav.pagination{
   line-height: 0;
   height: 50px;
 }
.pagination{
    box-shadow: none;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    margin-bottom: 25px;
}
.prev.page-numbers,
.next.page-numbers,
.page-numbers{
    display: inline-block;
    color: #004559;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #004559;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    z-index: 1;
	font-weight: 400;
	margin: 0 4px;
}
.next.page-numbers{
    float: right;
	line-height: 38px;
	margin: 0;
}
.prev.page-numbers{
    float: left;
	line-height: 38px;
	margin: 0;
}
.page-numbers.current,
.page-numbers:hover{
	border: 1px solid #b1ca23;
    background-color: #b1ca23;
    color: white;
}
/* --------------------------------

Footer

-------------------------------- */
footer{
    background-color: #eeeeee;
	color: #004559;
}
footer .items{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}
footer .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #004559;
    font-weight: 100;
	line-height: 1;
}
footer a{
    color: #004559;
	transition: .3s ease;
}
footer a:hover{
	font-weight: 500;
}
footer .footer-sitemap,
footer .footer-contact{
    border-right: 1px solid #004559;
}
footer .footer-sitemap{
	width: calc(30% - 60px);
    align-items: flex-start;
	margin-right: 60px;
}
footer .footer-contact{
	justify-content: center;
    align-items: center;
	width: calc(30% - 60px);
	margin-right: 60px;
}
footer .footer-info{
	width: calc(40% - 60px);
	margin-right: 60px;
	text-align: left;
    align-items: flex-end;
}
footer h3{
    font-weight: 500;
    padding: 0;
    margin: 0;
	padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}
@media(min-width: 1550px){
    footer .footer-sitemap,
    footer .footer-contact,
    footer .footer-info{
        align-items: center;
    }
}
@media(max-width: 1169px){
    footer .footer-sitemap,
    footer .footer-contact,
    footer .footer-info{
        align-items: center;
    }
	footer .footer-sitemap{
		margin-left: 60px;
	}
	footer .footer-info{
		margin-right: 0;
	}
}
@media (max-width: 800px){
    footer .footer-sitemap,
    footer .footer-contact,
    footer .footer-info{
        padding: 30px 0 30px;
    }
    footer .footer-sitemap,
    footer .footer-contact,
    footer .footer-info{
		width: calc(33.333333% - 20px);
		margin-right: 20px;
	}
    footer .footer-sitemap{
        border-right: 1px solid #004559;
		margin-left: 20px;
    }
    footer .footer-contact{
       	border-right: 1px solid #004559;
    }
	footer .footer-info{
       	border-right: 0;
		margin-right: 0;
    }
}
@media (max-width: 600px){
    footer .footer-sitemap,
    footer .footer-contact,
    footer .footer-info{
        padding: 0 0 20px;
		width: calc( 100% - 60px);
		margin: 0 30px;
		border-right: 0;
    }
	footer .footer-info{
		padding-bottom: 0;
	}
}
.copyright {
    text-align: center;
    background-color: #004559;
    color: #fff;
    padding: 10px 0;
    font-size: 1.5rem;
}
.copyright a{
	color: #fff;
	font-weight: 500;
	border-bottom: 1px solid;
	transition: .3s ease;
}
.copyright a:hover{
	color: #b1ca23;
}
/* --------------------------------

TIMELINE

-------------------------------- */

#cd-timeline {
  position: relative;
  padding: 0 0 2em;
  margin-top: 0;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 16px;
  left: 18px;
  height: calc(100% - 16px - 2em);
  width: 3px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 3px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #004559;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 31px;
    height: 31px;
    left: 50%;
    margin-left: -16px;
    top: 16px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  padding: 1em;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-timeline-item-title {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.2;
}
.cd-timeline-content .cd-read-more {
  float: right;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-timeline-item-title {
  float: left;
  padding: .8em 0;
  color: #fff;
}
.circles {
    display: inline-block;
    float: left;
    margin-right: 30px;
    top: 1.25rem;
    position: relative;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .circles{
    float: right;
    margin-right: 0;
    margin-left: 30px;
}
.big-circle {
    width: 20px;
    height: 20px;
    border: 2px solid #b1ca23;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
    top: 6px;
    position: relative;
}
.small-circle {
    width: 10px;
    height: 10px;
    border: 2px solid #b1ca23;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-timeline-item-title {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 3px;
    font-size: 2rem;
    padding: 0;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-timeline-item-title {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* --------------------------------

support for no js

-------------------------------- */
.no-js .cd-primary-nav {
  position: relative;
  height: auto;
  width: 100%;
  overflow: visible;
  visibility: visible;
  z-index: 2;
}

.no-js .cd-search {
  position: relative;
  top: 0;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 1170px) {
  .no-js .cd-primary-nav {
    position: absolute;
    z-index: 3;
    display: inline-block;
    width: auto;
    top: 0;
    right: 150px;
    padding: 0;
  }

  .no-js .nav-is-fixed .cd-primary-nav {
    position: fixed;
  }
}
